* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
}

/* CLEAR */
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}
/* CLEAR */

.container {
    max-width: 1200px;
    margin: 0 auto;
}
header {
    background: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80);
    background-size: cover;
    background-position: center;
}

.parent-icons-1 {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 30px;
}

.parent-icons-1 li i {
    padding: 10px 10px;
    background-color: white;
    border-radius: 20px;
}

header nav {
    background-color: white;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    border-radius: 10px;
}

header nav img {
    width: 70px;
    height: 70px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
header nav .box-nav {
    display: flex;
    gap: 20px;
}
header nav .box-nav h1 {
    line-height: 70px;
    color: orange;
}

header nav ul {
    display: flex;
    gap: 30px;
    line-height: 70px;
    font-weight: 500;
    padding-right: 20px;
    cursor: pointer;
}

header nav ul .orange {
    color: orange;
    padding-bottom: 50px;
    border-top: 3px solid orange;
}

header .NAME-1 {
    display: flex;
    align-items: center;
    margin-top: 150px;
    flex-direction: column;
    gap: 15px;
    height: 200px;
}

header .NAME-1 h1 {
    border-bottom: 3px solid white;
    padding-top: 20px;
    color: white;
}

header .NAME-1 h4 {
    color: white;
    font-weight: 400;
}

header .NAME-1 button {
    padding: 10px 10px;
    background-color: darkorange;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

.section-1 .parent-icons-2 {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
}

.section-1 .NAME-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    gap: 15px;
}
.section-1 .NAME-2 h1 {
    border-bottom: 3px solid black;
}
.section-1 .NAME-2 h4 {
    color: gray;
    font-weight: 400;
}
.section-1 .box-icons {
    display: flex;
    justify-content: space-around;
}
.section-1 .box-icons li i {
    font-size: 30px;
    height: 200px;
    width: 200px;
    line-height: 200px;
    text-align: center;
    color: white;
}
.box-icons .child1 {
    background-color: aquamarine;
}
.box-icons .child2 {
    background-color: darkorange;
}
.box-icons .child3 {
    background-color: blue;
}
.box-icons .child4 {
    background-color: lawngreen;
}


